body {
    font-family: Roboto, sans-serif;
    color: #111;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-weight: 300;    
}

h1,
h2,
h3,
p {
    margin-top: 0;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.box :where(h1, h2, h3){
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
    border-radius: 8px;
}

@media (min-width: 800px) {
    section {
        display: grid;
        gap: 20px;
        grid-template-columns: 3fr 1fr;
        padding: 20px 30px;
        background-color: #eee;
    }
}

header {
    grid-row-start: 1;
    grid-column: 1 / -1;
}

main,
aside {
    container-type: inline-size;
}

main {
    grid-row-start: 2;
    grid-column-start: 1;
}

aside {
    grid-column-start: 2;
    grid-row: 2;
}

footer {
    grid-column: 1 / -1;
    grid-row-start: 3;
    display: flex;
    justify-content: space-between;
    color: #333;
}

.non-supporting a,
footer a {
    color: inherit;
}

.non-supporting a:hover,
footer a:hover {
    color: deeppink;
}

.non-supporting {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    color: #333;
    background-color: yellow;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
}

@supports (container-type: inline-size) {
    .non-supporting {
        display: none;
    }
}

.box {    
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: white;
    background-color: deepskyblue;
}

.box h3 {
    margin-bottom: 0;
}

@container (min-width: 200px){
    .box__image img {
        width: 100%;
    }
}

@container (min-width: 480px) {
    .box {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 2fr;
        background-color: deeppink;
    }

    .box__meta-data {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        grid-column-start: 2;
    }

    .box__meta-data p {
        margin-bottom: 0;
    }

    .box__body {
        grid-column: 1 / -1;
    }
}

.box img {
    border-radius: 10px;
}